# pip install -r requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple
openai
dotenv
redis
pypdf
numpy
black
openai-whisper
python-dotenv
gradio
pydantic
langchain
langchain-core
langchain-openai